::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: "Rethink Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.3;
}

a {
    color: inherit;
    text-decoration: inherit;
}

footer {
    /* background-color: #2B2A29; */
    /* color: #fff; */
}

.container {
    margin: 0px 100px;
    max-width: 1720px;
}

.header {
    background: url(/picture/background-header.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;

    font-weight: 700;
    font-size: 20px;
}

.burger__menu {
    display: none;
}

.burger__menu-elem {
    display: block;
    background-color: #0A507A;
    width: 30px;
    height: 5px;
    margin-bottom: 2px;
}

.header__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__img {
    max-width: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
}

.header__tel {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0A507A;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
}

.header__contant-innet {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.header__contant-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    clip: rect(0 0 0 0);
}

.submit-header {
    display: inline-block;
    background-color: #2B2A29;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
}

.navigation__menu-list {
    display: flex;
    gap: 40px;
    color: #0A507A;
}

.content-info-elem {
    border: 1px solid #0A507A;
    border-radius: 30px;
    color: #0A507A;
    padding: 10px 20px;

    font-weight: 700;
    font-size: 26px;
}
.navigation__menu-elem {

}

.header__content-info {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;
    max-width: 490px;
}

.social_media {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.content__news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 50px 20px;
    gap: 10px;

    font-weight: 800;
    font-size: 32px;
}

.news__link {
    font-size: 16px;
    text-decoration: underline;
}


.img__news {
    width: inherit;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 100px;

    font-weight: 800;
    font-size: 32px;
}

.header__button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #2B2A29;
    text-transform: uppercase;
}

.header__button-1 {
    background-color: #2B2A29;
    color: #fff;
}

.header__button-2 {
    background: rgba(255, 255, 255, 0.3);
}

.header__bottom-text {
    font-weight: 800;
    font-size: 64px;
    width: 60%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.section__1-subtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.information__block {

}

.information__block-inner {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 150px;
}

.information__block-title {
    font-weight: 800;
    font-size: 64px;
    /* margin-bottom: 100px; */
}

.information__block-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.information__block-list-elem {
    padding: 10px 20px;
    border: 1px solid #0A507A;
    border-radius: 30px;
    color: #0A507A;

    font-weight: 700;
    font-size: 26px;

}

.information__block-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
}

.information-picture {
    max-width: 100%;
    
}

.information__block-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information-button {
    display: inline;
    border: 1px solid #fff;
    font-weight: 800;
    font-size: 32px;
    background: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;

    position: absolute;/* relative  */
    right: 68px;
    bottom: 46px;
}

.information__block-right {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}



.activities {

}


.activities__content {
    display: flex;
    gap: 100px;
}

.activities__subtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.activities__title {
    font-weight: 800;
    font-size: 64px;
    text-transform: uppercase;
}
.activities__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 100px 0px;
}

.activities__content-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.activities__list-elem {
    /* max-width: 344px;
    max-height: 344px; */
    border: 1px solid #2B2A29;
    border-radius: 100%;
    max-width: 344px;
    aspect-ratio: 1/1
}

.activities__link {
    background-color: #2B2A29;
    /* border: 1px solid #2B2A29; */
    text-transform: uppercase;
    border-radius: 30px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 32px;
}

.background-2 {
    /* background-size: 100vh 100vh; */
    max-width: 100vw;
    margin-bottom: 150px;
}
.feedback__block {

}
.feedback__block-top {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

.feedback__picture {
    margin-bottom: 15px;
}

.feedback__text {
    margin-bottom: 15px;
}

.feedback__subtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.feedback__title {
    font-weight: 800;
    font-size: 64px;
    text-transform: uppercase;
}
.feedback:nth-child(even) {
    margin-top: 100px;
}

.feedbacks {
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    margin-bottom: 150px;
    gap: 20px;
}

.footer {
    background-color: #2B2A29;
    color: #fff;
    
    padding: 100px 390px;
    /* max-width: 1140px; */
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__content {
    display: flex;
    gap: 68px;
    margin-bottom: 60px;
}

.footert__buttom {
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    /* align-items: flex-end; */
}

.footer__title {
    font-weight: 800;
    font-size: 64px;
    margin-bottom: 30px;
}

.footer__navigation__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer__content-elem {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__content-elem h3 {
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 1800px) {
    .feedbacks {
        grid-template-columns: repeat(2, 1fr);
    }

    .feedback {
        max-width: 270px; /* Пересмотр */
    }

    .feedback:nth-child(even) {
        margin-top: 0;
    }

    .feedback__block-top {
        margin-left: 0;
    }

    .feedback__picture {
        width: 270px; /* Пересмотр */
    }
    
}

@media (max-width: 1600px) {
    .footer {
        padding: 100px;
    }
}

@media (max-width: 1400px) {
    .information__block-inner {
        flex-direction: column;
    }
}

@media (max-width: 1140px) {
    .container {
        margin: 0px 50px;
    }
    
    .header__button {
        text-transform: none;
    }

    .header__bottom-text {
        font-size: 48px;
    }

}

@media (max-width: 1000px) {
    .navigation__menu-list {
        display: none;
    }

    .burger__menu {
        display: block;
        border: 0;
        background-color: #fff;
    }

    .content__news {
        padding: 25px 20px;
        font-size: 20px;
        width: 200px;
    }

    .img__logo-social {
        width: 50px;
    }

    .header__button {
        font-size: 22px;
    }

    .header__tel {
        font-size: 16px;
    }

    .header__bottom-text {
        font-size: 24px;
    }

    .activities__content {
        flex-direction: column;
    }

    .footer__top {
        flex-direction: column-reverse;
    }

    .footer__logo {
        margin: auto;
    }

    .footer__top {
        gap: 20px;
    }

    .footer__title {
        text-align: center;
    }

    .footert__buttom {
        flex-direction: column;
    }
}

@media (max-width: 800px) { 
    .section__1-subtitle, .activities__subtitle, .feedback__subtitle {
        font-size: 16px;
        margin-bottom: 0;
    }

    .information__block-title, .activities__title, .feedback__title {
        font-size: 42px;
    }
    
    .header__right {
        display: none;
    }

    .header__left {
        align-items: center;
        min-height: 300px;
    }
    .container {
        margin: 0px 20px;
    }
    .content-info-elem {
        font-size: 16px;
    }

    .footer__content {
        flex-direction: column;
    }

    .header__content-info {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .feedbacks {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .footer__title {
        font-size: 32px;
    }
}

