body {
    font-family: "Rethink Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.container {
    margin: 0px 100px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__tel {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0A507A;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
}

.header__contant-innet {
    display: flex;
    justify-content: space-between;
}

.submit-header {
    display: inline-block;
    background-color: #2B2A29;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
}

.navigation__menu-list {
    display: flex;
    gap: 40px;
    color: #0A507A;
}

.content-info-elem {
    border: 1px solid #0A507A;
    border-radius: 30px;
    color: #0A507A;
    padding: 10px 20px;
}
.navigation__menu-elem {
    
}

.header__content-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.social_media {
    display: flex;
    gap: 20px;
}